/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #f96ae3;
  --vt-c-black-soft: #e27ad1;
  --vt-c-black-mute: #f68af2;

  --vt-c-indigo: #4779ab;

  --vt-c-divider-light-1: rgb(250, 146, 240);
  --vt-c-divider-light-2: rgba(236, 147, 229, 0.87);
  --vt-c-divider-dark-1: rgba(243, 9, 247, 0.649);
  --vt-c-divider-dark-2: rgba(230, 10, 208, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgb(40, 125, 223);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(2, 79, 245, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*{
  margin: 0;
  padding: 0;
}

body {
  /* min-height: 100vh; */
  color: var(--color-text);
  background-image: url(../assets/images/2ba.jpg);
}
